<div class="suggestive-input" [class.suggestive-input--with-icon]="iconSrc">
  @if (iconSrc) {
    <img class="suggestive-input__icon" [src]="iconSrc" width="18" height="18" alt="" />
  }
  <input
    [id]="inputId"
    type="text"
    role="combobox"
    autocomplete="off"
    [value]="value"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [attr.aria-expanded]="isOpen"
    [attr.aria-controls]="inputId + '-suggestions'"
    [attr.aria-activedescendant]="activeIndex >= 0 ? optionId(activeIndex) : null"
    (input)="handleInput($event)"
    (focus)="handleFocus()"
    (click)="handleFocus()"
    (blur)="handleBlur()"
    (keydown)="handleKeydown($event)"
  />

  @if (isOpen) {
    <div
      #suggestions
      class="suggestive-input__dropdown"
      [id]="inputId + '-suggestions'"
      role="listbox"
    >
      @for (option of filteredOptions; track option.value; let index = $index) {
        <button
          class="suggestive-input__option"
          type="button"
          role="option"
          [id]="optionId(index)"
          [class.suggestive-input__option--active]="activeIndex === index"
          [attr.aria-selected]="activeIndex === index"
          (mousedown)="$event.preventDefault()"
          (click)="selectOption(option)"
        >
          @if (optionTemplate) {
            <ng-container
              [ngTemplateOutlet]="optionTemplate"
              [ngTemplateOutletContext]="{ $implicit: option }"
            />
          } @else {
            <strong>{{ option.value }}</strong>
            <span> - {{ option.label }}</span>
          }
        </button>
      }
    </div>
  }
</div>
